*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    text-align: center;
}

h1{
    text-decoration: underline;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game_container{
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.game{
    height: 55vmin;
    width: 55vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.8vmin;
    border: 6px solid #fff;
}

.box {
    height: 15vmin;
    width: 15vmin;
    border: none;
    background-color: #3d3d3d;
    font-size: 8vmin;
    color: #fff;
    cursor: pointer;
}


#reset-btn{ 
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
}

#reset-btn:hover{
    background-color: #d9d8d8;
}
#new-btn{ 
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
}

#new-btn:hover{
    background-color: #d9d8d8;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.points {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.chance {
    margin-top: 1.5rem;
    font-size: 2rem;
}

#o {
    font-weight: 1000;
    font-size: 1.5rem;
    color: red;
}

#x {
    font-weight: 1000;
    font-size: 1.5rem;
    color: red;
}

.result {
    font-size: 2rem;
    font-weight: 700;
    color: red;
    margin-bottom: 1.5rem;
}
